@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body,
#root,
.app,
.content {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #111317;
  --primary-color-light: #1f2125;
  --primary-color-extra-light: #35373b;
  --secondary-color: #f9ac54;
  --secondary-color-dark: #d79447;
  --text-light: #d1d5db;
  --white: #ffffff;
  --max-width: 1200px;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color);
}

a {
  text-decoration: none;
}

.app {
  display: flex;
  position: relative;
}

::selection {
  color: #fff;
  background-color: #ee8020;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on Hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* --raisin-black: #272727; */
/* --buff: #d4aa7d; */
/* --sunset: #efd09e; */
/* --beige: #d2d8b3; */
/* --cadet-gray: #90a9b7; */
